<section class="volcano-catalog">
    <h1 id="title"><span>Volcano</span> Catalog</h1>

    {{#if volcano}}
    <div class="item-list">
        {{#each volcano}}
        {{> catalog-card}}
        {{/each}}
    </div>
    {{else}}
    <div class="no-volcano">
        <p>There are no volcanoes found yet!</p>
    </div>
    {{/if}}
</section>