<section class="volcano-search">
    <h1>Search</h1>

    <form class="search-form" action="#" method="">
        <input type="text" class="search-volcano" name="" placeholder="Search by Name...">
        <select id="type" name="">
            <option value="Supervolcanoes">Supervolcanoes</option>
            <option value="Submarine">Submarine</option>
            <option value="Subglacial">Subglacial</option>
            <option value="Mud">Mud</option>
            <option value="Stratovolcanoes">Stratovolcanoes</option>
            <option value="Shield">Shield</option>
        </select>
        <button type="submit" class="btn-search">Search</button>
    </form>

    {{#if volcano}}
    <div class="search-result">
        <div class="search-list">
            {{#each volcano}}
            {{> catalog-card}}
            {{/each}}
            
        </div>

    </div>
    {{else}}
    <div class="no-match">
        <p>No match was found!</p>
    </div>
    {{/if}}
</section>